<% content_for :page_title, "New cost entry" %>
<% content_for :page_subtitle, "Log labor and spend that should appear in the Cost Hub." %>

<div class="panel p-6 max-w-3xl">
  <%= render "form", cost_entry: @cost_entry %>
</div>
